## 作業
在鐵達尼資料集中，今天我們專注觀察變數之間的相關性，以Titanic_train.csv 中，首先將有遺失值的數值刪除，並回答下列問題。
* Q1: 透過數值法計算  Age 和  Survived  是否有相關性?
* Q2:透過數值法計算  Sex 和 Survived  是否有相關性?
* Q3: 透過數值法計算  Age 和  Fare 是否有相關性?   
* 提示:    
1.產稱一個新的變數 Survived_cate ，資料型態傳換成類別型態      
2.把題目中的 Survived 用 Survived_cate 來做分析       
3.首先觀察一下這些變數的資料型態後，再來想要以哪一種判斷倆倆的相關性。

In [1]:
# import library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display

import pingouin as pg
import researchpy   
%matplotlib inline

## 讀入資料

In [2]:
df_train = pd.read_csv("Titanic_train.csv")
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [3]:
# 先清除遺失的欄位資料
# 列出遺失資料
missing_index=df_train.isnull()
display(df_train[missing_index.values==True])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
# 刪除遺失的資料
df_train_all = df_train.dropna()
df_train_all

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [5]:
## 產稱一個新的變數 Survived_cate ，資料型態傳換成類別型態
df_train_all['Survived_cate'] = df_train_all['Survived'].astype('object')
print(df_train_all.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    183 non-null    int64
 1   Survived       183 non-null    int64
 2   Pclass         183 non-null    int64
 3   Name           183 non-null    object
 4   Sex            183 non-null    object
 5   Age            183 non-null    float64
 6   SibSp          183 non-null    int64
 7   Parch          183 non-null    int64
 8   Ticket         183 non-null    object
 9   Fare           183 non-null    float64
 10  Cabin          183 non-null    object
 11  Embarked       183 non-null    object
 12  Survived_cate  183 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 20.0+ KB
None

<ipython-input-5-6db1c128fdfb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_all['Survived_cate'] = df_train_all['Survived'].astype('object')

###  Q1: 透過數值法計算  Age 和  Survived  是否有相關性?

In [6]:
# Age 和 Survived 皆為 連續，因此使用 Pearson 相關係數


def judgment_pearsonr(corr):
    if corr == 1:
        qual = '完全線性相關'
    if corr < .01:
        qual = '無線性相關'
    elif corr < .39:
        qual = '低度線性相關'
    elif corr < .69:
        qual = '中度線性相關'
    else:
        qual = '高度線性相關'
    return(qual)



# 由於 pearsonr 有兩個回傳結果，我們只需取第一個回傳值為相關係數
corr, _=stats.pearsonr(df_train_all['Age'], df_train_all['Survived_cate'])
print('Age 和 Survived 相關性：', judgment_pearsonr(abs(corr)), '，值為：', corr)

Age 和 Survived 相關性： 低度線性相關 ，值為： -0.25408475420305304

### Q2:透過數值法計算  Sex 和 Survived  是否有相關性?

In [7]:
# Sex為離散，Survived 為連續，因此使用 Eta Squared (η2)
aov = pg.anova(dv='Survived', between='Sex', data=df_train_all, detailed=True)
aov

   Source         SS   DF         MS          F         p-unc       np2
0     Sex  11.431697    1  11.431697  71.605923  8.693868e-15  0.283469
1  Within  28.896172  181   0.159647        NaN           NaN       NaN

In [8]:
etaSq = aov.SS[0] / (aov.SS[0] + aov.SS[1])
etaSq

0.28346889952153115

In [9]:
def judgment_etaSq(etaSq):
    if etaSq < .01:
        qual = 'Negligible'
    elif etaSq < .06:
        qual = 'Small'
    elif etaSq < .14:
        qual = 'Medium'
    else:
        qual = 'Large'
    return(qual)
print('Age 和 Survived 相關性：', judgment_etaSq(etaSq))

Age 和 Survived 相關性： Large

### Q3: 透過數值法計算  Age 和  Fare 是否有相關性?

In [10]:
# Age 和 Fare 皆為 連續，因此使用 Pearson 相關係數

# 由於 pearsonr 有兩個回傳結果，我們只需取第一個回傳值為相關係數
corr, _=stats.pearsonr(df_train_all['Age'], df_train_all['Fare'])
print('Age 和 Fare 相關性：', judgment_pearsonr(abs(corr)), '，值為：', corr)

Age 和 Fare 相關性： 低度線性相關 ，值為： -0.09242385620999947